<%# Jade Phaneuf %>
<%# 2020-11-04 %>
<h1> Liste des recettes groupées par utilisateur</h1>

<% @users.each do |u| %>
    <h2> Utilisateur: <%= u.prenom %> <%= u.nom %> </h2>
    <h3> Recette : </h3>
    <p>    
        <% u.recettes.each do |r| %>
            ==> <%= r.titre %> 
        <% end %>
    </p>
<% end %>



