<!--Jade Phaneuf 2020-11-19 -->
<% if user_signed_in? %>
    Bonjour <%= current_user.email %> <br/>
    <%= link_to "LogOut", destroy_user_session_path, method: :delete %><br/>
    <h1> Liste de vos recettes </h1> <br/>

    <% current_user.recettes.each do |recette| %>
        <%= recette.titre %><br/>
    <% end %>

<% else %>
        <%= link_to "LogIn", new_user_session_path %><br/>
<% end %>

    

