<h1> Information de la recette </h1> <br/>
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
     <!-- First Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center" id="food">
        <%= render "layouts/recette/detailRecette" %>
     </div>
    <%= render "layouts/menu/footer" %>
</div>